:root{ 
  --color1 : blue;
  --color2: white;
  --trans: 0.5s linear;
  --textStyle:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
*,::after,::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
html{
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  height: 100vh;
    margin: auto;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    overflow: auto;
    background: linear-gradient(250deg, var(--color2) 3%, var(--color2)38%, var(--color1) 68%, var(--color1) 98%);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
}

.animateB {
    background: rgb(255 255 255 / 25%);
    border-radius: 1000% 1000% 0 0;
    position: fixed;
    width: 200%;
    height: 12em;
    animation: wave 10s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.8;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.animateB:nth-of-type(2) {
    bottom: -1.25em;
    animation: wave 18s linear reverse infinite;
    opacity: 0.8;
}

.animateB:nth-of-type(3) {
    bottom: -2.5em;
    animation: wave 20s -1s reverse infinite;
    opacity: 0.9;
}
.navContainer{
  width: 70px;
  height:100vh;
  background: var(--color1);
  transition: var(--trans)
}
.openNavContainer{
  width: fit-content;
  height: fit-content;
  border: none;
  background: transparent;
  font-size: 40px;
  color: var(--color2);
  position: absolute;
  bottom:3%;
  left:5%;
}
[alt |= "HintAll Logo"]{
  width: 70px;
  height: 70px;
}
.newNavWidth{
  width: 220px;
}
.hintAllName{
  display: none;
  
}
.hintAllNameDesign{
  display: block;
  font-size: 30px;
  font-weight: bold;
  font-family: var(--textStyle);
  color: var(--color2);
  animation: fadeIn 5s;
  
}
.logoNameHolderFlex{
  display: flex;

}
.fadeOutText{
  animation: fadeOut 5s; 
}
/* animation */
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes fadeOut{
  0% { opacity:1 ; }
  100% { opacity: 0; }
}
@keyframes wave {
  2% {
    transform: translateX(1);
  }

  25% {
    transform: translateX(-25%);
  }

  50% {
    transform: translateX(-50%);
  }

  75% {
    transform: translateX(-25%);
  }

  100% {
    transform: translateX(1);
  }
}
@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}